.OD-section {
  padding-top: 40px;
}

.OD-label-text {
  font-size: 17px;
  font-weight: bold;
  color: #6b6b76;
}

.OD-label-header {
  font-size: 25px;
  font-weight: bold;
  color: #6b6b76;
}

.header-label {
  font-size: 20px;
  font-weight: bold;
  color: #6b6b76;
}

.od-header {
  font-size: 32px;
  font-weight: bold;
  color: #6b6b76;
}
