body {
  height: 100%;
  /* font-family: 'Montserrat', sans-serif !important; */
}

.firstpage-section {
  height: 812px !important;
  font-family: 'Montserrat', sans-serif !important;
  background-image: linear-gradient(to right, #485563, #29323c);
}

#page-section {
  padding-top: 35vh;
}

#select-flight {
  padding-top: 10vh;
  height: 100px;
}

/* #page-section {

  position: relative;
  width: 100%;
  height: 100%;
} */
.header {
  position: absolute;

  font-size: 70px;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.label-text {
  /* color: white; */
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 15px;
}

.divider {
  width: 8px;
  height: 100px;
  background: white;
}

#col-divider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-header {
  display: 'flex';
  justify-content: 'center';
  align-items: center;
  font-size: 70px;
  color: white;
  font-weight: bold;
  letter-spacing: 10px;
  /* background: linear-gradient(
    to right,
    rgb(0, 0, 0),
    rgb(53, 53, 54),
    rgb(124, 124, 124),
    rgb(10, 3, 107),
    blue,
    rgb(56, 86, 184)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.a-label {
  color: white;
}

.a-label:hover {
  color: #03c6c6;
}
