body {
  height: 100%;
}

.firstpage-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-text {
  font-size: 60px;
  font-weight: bold;
}

.label-header {
  font-size: 70px;
  color: grey;
  font-weight: bold;
}

.a-label {
  color: grey;
}

.a-label:hover {
  color: teal;
}
